# Homework 1
Download the file heh475_hw1.ipynb; Open the file via Jupyter Notebook; Run the code by clicking the “Run” button

# String

In [ ]:
#Create the string str with “Welcome to Python Programming”
str = "Welcome to Python Programming"
#Output the string using the function Print
print(str)
#Output the substring from indexes 11 to 16 (including both indexes 11 and 16).
print(str[11:17])
#Output the substring of the last 5 characters (please use negative index)
print(str[-5:])
#Concatenate the string ‘!!!’ to the end of the string str
str=str+'!!!'
#Output the string str
print(str)

Welcome to Python Programming
Python
mming
Welcome to Python Programming!!!

# List

In [ ]:
#Create an empty list
list = []
#Add the elements 1, 2, 3, 4 into the list one by one and output the list after all additions
for i in range(1,5):
  list.append(i)
print(list)
#Add the tuple (5, 6) as an element to the end of the list and output the list
tpl = tuple([5,6])
list.append(tpl)
print(list)
#Add the list [‘perfect’, ‘wonderful’] as an element to the end of the list and output the list
add = ['perfect','wonderful']
list.append(add)
print(list)
#Concatenate the list [[7, 8], [9, 10]] to the end of the above list and output the new list
list=list+[[7,8],[9,10]]
print(list)
#Add the multiple elements 8.5, 7, ‘code’, ‘software’ to the end of the list at once and output the list
list.extend([8.5,7,'code','software'])
print(list)
#Output the last 5 elements in the list
print(list[-5:])
#Remove the elements from indexes 3 to 6 and output the list
del list[2:6]
print(list)

[1, 2, 3, 4]
[1, 2, 3, 4, (5, 6)]
[1, 2, 3, 4, (5, 6), ['perfect', 'wonderful']]
[1, 2, 3, 4, (5, 6), ['perfect', 'wonderful'], [7, 8], [9, 10]]
[1, 2, 3, 4, (5, 6), ['perfect', 'wonderful'], [7, 8], [9, 10], 8.5, 7, 'code', 'software']
[[9, 10], 8.5, 7, 'code', 'software']
[1, 2, [7, 8], [9, 10], 8.5, 7, 'code', 'software']

# Tuple

In [ ]:
#Create a tuple Tuple1 using the list with elements 1, 2, 3, 4 and output the tuple. (Note:there are many ways to create a tuple. You use the list to create the tuple here.)
Tuple1 = tuple([1,2,3,4])
print(Tuple1)
#Create another tuple Tuple2 with elements ‘Python’, ‘for’, and ‘kids’ directly, and then output the tuple
Tuple2 = ('Python','for','kids')
print(Tuple2)
#Concatenate the tuple Tuple2 to the end of Tuple1 and assign the resulted tuple to Tuple1. Then output the tuple Tuple1.
Tuple1 = Tuple1+Tuple2
print(Tuple1)
#Output elements from index 3 to the end
print(Tuple1[2:])

(1, 2, 3, 4)
('Python', 'for', 'kids')
(1, 2, 3, 4, 'Python', 'for', 'kids')
(3, 4, 'Python', 'for', 'kids')

# Dictionary

In [ ]:
#Create an empty dictionary Dict
dict = {}
#Adding elements 0: ‘Python’, 1: ‘Programming’, 2: ‘Funny’ one by one and then output the dictionary.
dict[0]='Python'
dict[1]='Programming'
dict[2]='Funny'
print(dict)
#Update the key 1’s value to ‘is very’ and output the dictionary.
dict[1]='is very'
print(dict)
#Output all the keys
for key in dict.keys():
  print(key)
#Output all the values
for value in dict.values():
  print(value)
#Delete the element with the key 2 and output the dictionary. (Note: you should delete the entire element with the key and value).
del dict[2]
print(dict)
#Check for existence of key 2
print(2 in dict)
#Convert the dictionary Dict to a list. Only the values of the dictionary are in the list. Then, output the list.
list_dict = list(dict.values())
print(list_dict)

{0: 'Python', 1: 'Programming', 2: 'Funny'}
{0: 'Python', 1: 'is very', 2: 'Funny'}
0
1
2
Python
is very
Funny
{0: 'Python', 1: 'is very'}
False
['Python', 'is very']